* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root{
    --squid: #0e0e0e;
    --greysquid: #9A9A9A;
}
@font-face {
    font-family: Neue-Montreal-Reg;
    src: url(font/NeueMontreal-Regular.otf);
}
@font-face {
    font-family: Neue-Montreal-Med;
    src: url(font/NeueMontreal-Medium.otf);
}
@font-face {
    font-family: Neue-Montreal-Bold;
    src: url(font/NeueMontreal-Bold.otf);
}
body{
    font-family: Neue Montreal;
    background-color: var(--squid);
}
.thehead{
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    transition: ease-in 0.8s;
}
.thehead .logo{
    font-size: 3rem;
    
}
.thehead .logo a{
    color: #9A9A9A;
}
.thehead .navbar .listofbutton{
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 3rem;
}
.thehead .navbar .listofbutton li{
    width:max-content;
    padding: 20px;
    position: relative;
}
.thehead .navbar .listofbutton a{
    text-decoration: none;
    color: #9A9A9A;
    font-size: 1.2rem;
    padding-bottom: 5px;
    font-family: 'Neue-Montreal-Med', 'sans-serif';
}
.thehead .navbar .listofbutton a:hover{
    color:white;
    border-bottom: 3px solid white;
    transition: ease-in-out 0.2s;
}
.submenu{
    display: none;
    position: absolute;
   
}
.submenu ul{
    list-style: none;
    display: block;
}
#tool:hover .submenu{
    display: block;
    position: absolute;
    background-color:transparent;
    width: 150px;
    height: 100px;
    transition: ease-in 0.8s;
}
.title{
    color: white;
    text-align: center;
    text-shadow: 0px 0px 80px #ffffff;
    font-family: Neue Montreal;
    font-size: 40px;
    font-weight: 500;
    margin-top: 50px;
}
.subtitle{
    color: #9D9D9D;
    font-family: Neue Montreal;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 70px 98px 0px 98px;
    gap: 55px;
}
.filter{
    display: flex;
    color: white;
    font-size: 1.5rem;
    border: 1px solid aliceblue; 
    background: none; 
    border-radius: 18px;
    padding: 35px 0px 60px 0px;
    gap: 35px;
    flex-direction: column;
}
.squidhead{
    padding-left: 50px;
    background: none;
    font-weight: medium;
    font-size: 1.8rem;
    color: white;
}
.holder{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 0 auto;
    width: 93%
}
.dropdown button{
    border-radius: 55px;
    border: 2px solid aliceblue; 
    background: rgba(255, 255, 255, 0);
    color: white;
    padding: 10px 25px;
    font-size: 1.1rem;
}
.dropdown a{
    display: block;
    color: #9D9D9D;
    text-decoration: none;
    padding: 10px 25px;
}
.dropdown .country-content{
    display: none;
    position: absolute;
}
.dropdown:hover .country-content{
    display: block;
}
.dropdown .state-content{
    display: none;
    position: absolute;
}
.dropdown:hover .state-content{
    display: block;
}
.dropdown .city-content{
    display: none;
    position: absolute;
}
.dropdown:hover .city-content{
    display: block;
}
.dropdown .startyear-content{
    display: none;
    position: absolute;
}
.dropdown:hover .startyear-content{
    display: block;
}
.dropdown .endyear-content{
    display: none;
    position: absolute;
}
.dropdown:hover .endyear-content{
    display: block;
}
.dropdown a:hover{
    color:white;
    border-bottom: 3px solid white;
}
.result{
    border: 1px solid rgba(41, 213, 210, 0.563);
    background: rgb(44,107,136);
    background: linear-gradient(110deg, rgba(44,107,136,0.499124649859944) 0%, rgba(0,0,0,0.364670868347339) 39%, rgba(0,0,0,0.46271008403361347) 56%, rgba(31,117,54,0.3478641456582633) 100%);
    border-radius: 18px;
    padding: 60px 0px 80px 20px;
}
.squidlabel{
    background: none;
    font-weight: 500;
    font-size: 1.9rem;
    color: white;
}
.squidborder{
    border: 2px solid aliceblue; 
    background: none; 
    border-radius: 18px;
    height: 480px;
    width: 95%;
}
.wrap{
    margin: 0 auto;
    width: 95%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    background: none;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 40px;
}  
th, td {
    text-align: center;
    padding: 5px 10px 10px 10px;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 435;
}
tr:nth-child(even) {
    background-color: #d9d9d920;
}
button{
    border-radius: 55px;
    border: 2px solid aliceblue; 
    background: rgba(255, 255, 255, 0);
    color: white;
    font-size: 1.1rem;
    padding: 10px 35px 10px 35px;
}